#main-wrapper {
    &>header,
    &>article,
    &>form,
    &>.lds-ring {
        position: relative;
        z-index: 3;
    }
    &.menuOpen>header,
    &.menuOpen>article {
        display: none !important;
    }
    &>form {
        height: calc(100% - 64px);
        display: none !important;
        @include media-breakpoint-up(lg) {
            height: calc(100% - 80px);
        }
    }
    &.menuOpen>form {
        display: flex !important;
    }
}

#list-nav > li {
    cursor: pointer;
    transition: opacity 200ms linear;
    opacity: 0.6;
    &.active,
    &:hover {
        opacity: 1;
    }
    i {
        transition: font-size 200ms linear;
    }
    &.active i,
    &:hover i {
        font-size: 27px;
    }
}

@media (max-height: 710px) {
    #daylist + #minicircles {
        display: none !important;
    }
}

#background {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom:0;
    width: 100%;
    height: 120%;
    background-color: $primary;
    background-image: url(../assets/background.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 200ms linear, height 200ms linear;
    &::before {
        transition: background-color 500ms linear;
        background-color: $primary;
        content: "";
        height: 120% !important;
        width: 100%;
        display: block;
        z-index: 2;
        position: fixed;
        opacity: 0.9;
    }
    &.cloud::before {
        background: #cb5002;
    }
    &.sun::before {
        background: #df7b21;
    }
    &.cloud-rain::before {
        background: rgb(114, 114, 114);
    }
    &.cloud-sun::before {
        background: #297bb2;
    }
    video {
        position: fixed;
        z-index: 1;
        right: 0;
        bottom:0;
        height: 120%;
    }
}